<a href="https://colab.research.google.com/github/Tehminanaz/Python-Coding-Journey/blob/main/Python-Coding-Journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print(2+2)

4

In [ ]:
print("Hello" + str(2))

Hello2

In [ ]:
message:str = "One of Python's strengths is its diverse community."
print(message)

One of Python's strengths is its diverse community.

In [ ]:
# Say Hello to everyone
print("Hello Python people!")

Hello Python people!

In [ ]:
first_name:str = "Tehmina"
last_name: str = "Naz"
full_name = f"{first_name} {last_name}"
print (full_name)

Tehmina Naz

In [ ]:
#  use of title method
first_name:str = "tehmina"
last_name:str = "naz"
full_name:str = f"{first_name} {last_name}"
print(full_name.title())

Tehmina Naz

In [ ]:
# use of upprer method
first_name:str = "tehmina"
last_name:str = "naz"
full_name:str = f"{first_name} {last_name}"
print(f"Hello, {full_name.upper()}!")

In [ ]:
# use of lower method
first_name:str = "Tehmina"
last_name: str = "Naz"
full_name = f"{first_name} {last_name}"
print(f"Hello, {full_name.lower()}!")

Hello, tehmina naz!

In [ ]:
#  use of capitalize method
first_name:str = "tehmina"
last_name:str = "naz"
full_name:str = f"{first_name} {last_name}"
print(f"Hello, {full_name.capitalize()}!")

Hello, Tehmina naz!

In [ ]:
message: str = "Hello python world"
print(message)

Hello python world

In [ ]:
# Add list of bicycle brands
bicycles: list[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
# list index
bicycles:list[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [ ]:
# Display the first bicycle brand with title case

bicycles:list[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

In [ ]:
bicycles: list[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [ ]:
bicycles: list[str] = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [ ]:
bicycles : list[str] = ['trek', 'cannondale', 'redline', 'specialized']
message: str = f"My frist bicycle was a {bicycles[1].title()}."
print(message)

My frist bicycle was a Cannondale.

In [ ]:
cars:list[str] = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars:list[str] = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars : list[str] = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars : list[str] = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle:str = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles :list[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive:str = 'ducati'
motorcycles.remove(too_expensive)
print (motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
motorcycles : list[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles[2] = 'civic'
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'civic', 'ducati']

In [ ]:
motorcycles : list[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive:str = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
motorcycles : list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles:list[str] = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles: list[str] = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']

first_owned:str = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki']

first_owned:str = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
cars:list[str] = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
motorcycles:list[str] = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)

print(f"\nA {too_expensive.title()} is to expensive.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is to expensive.

Here's a breakdown of how it works:

range(2, 11, 2): This part creates a sequence of numbers starting from 2 (inclusive), going up to 11 (exclusive), and incrementing by 2 in each step. So, it generates the numbers 2, 4, 6, 8, and 10.

list(...): The list() function takes the sequence generated by range() and converts it into a list.

even_numbers = ...: Finally, you assign this newly created list to the variable even_numbers.
You can use this list of even numbers for various purposes in your program, such as iterating through them in a loop or performing calculations.

Keep up the great work exploring Python's capabilities! Let me know if you have any other questions or want to try out different ways to manipulate lists.

In [ ]:
even_numbers:list[int] = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

What is a Tuple?

Ordered Collection: Like lists, tuples store an ordered sequence of items. You can access elements by their index (position), starting from 0 for the first element.

Immutable: This is the key difference! Once you create a tuple, you cannot change its contents. You can't add, remove, or modify elements within the tuple.
Creating Tuples:

Using Parentheses: Tuples are typically defined using parentheses (), with elements separated by commas.

In [ ]:
# with parenthesis
my_tuple1 = (1, "apple", 3.14)
print(my_tuple1)
print(my_tuple1[1])
print(my_tuple1[2])
# witout parenthesis
my_tuple2 = 1, "apple", 3.14
print(my_tuple2)
print(my_tuple2[1])
print(my_tuple2[2])

(1, 'apple', 3.14)
apple
3.14
(1, 'apple', 3.14)
apple
3.14

In [ ]:
dimensions:tuple[int,int] = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

Tuple ammi ki banai hoi grocery list jise badlna na mumkin he

In [ ]:
dimensions:tuple[int,int] = (200, 50)
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [ ]:
dimensions:tuple[int,int] = (200, 50)
for dimension in dimensions:
    print(dimension)

Tuples are Immutable

Once a tuple is created, you cannot change the values of its individual elements. So, in your code, when you try to assign dimensions:tuple[int,int] = (400, 100) after creating the tuple, it doesn't modify the original tuple. Instead, it creates a new tuple with the new values and assigns it to the dimensions variable.

Achieving the Desired Output

If you want to work with values that you can modify, you should use a list instead of a tuple. Lists are mutable, meaning you can change their elements.

Here's how you can achieve the output you're looking for using a list:

Key Point: Choose tuples when you need a collection of items that should not be changed after creation. Use lists when you need a collection that allows modifications.

In [ ]:
dimensions:tuple[int,int] = (200, 50)
print("Original dimensions:")
for dimension in dimensions:
    print(dimension)

dimensions:tuple[int,int] = (400, 100)
print("\nModified dimensions:")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

Using the break Statement

The break statement immediately terminates the loop, regardless of the loop's condition.

In [ ]:
for number in range(1, 11):
    if number == 5:
        break  # Exit the loop when number reaches 5
    print(number)

1
2
3
4

Using a Conditional Statement within the Loop

You can use an if statement to check for a specific condition and then break the loop if the condition is met.

In [ ]:
for name in ["Alice", "Bob", "Charlie"]:
    if name == "Bob":
        break
    print("Hello, " + name + "!")

Hello, Alice!

Important Note: The break statement will only exit the innermost loop if you have nested loops.

Let me know if you have a specific scenario in mind, and I can provide a more tailored example!

And if you want to continue exploring this topic, try one of these follow-up questions:

In [ ]:
even_numbers:list[int] = list(range(2, 11, 2))
print(even_numbers)

That code snippet will print the numbers 1 through 4.

Here's why:

range(1, 5): This generates a sequence of numbers starting at 1 and going up to, but not including, 5. So, it produces: 1, 2, 3, 4.

for value in ...: This loop iterates through each number in the sequence generated by range(1, 5). In each iteration, the current number is assigned to the variable value.

print(value): Inside the loop, this line prints the value of value for each iteration.

In [ ]:
for value in range(1, 5):
    print(value)

1
2
3
4

In [ ]:
for value in range(1, 6):
    print(value)

1
2
3
4
5

Here's how it works step-by-step:

range(1, 6): This creates a sequence of numbers starting from 1 (inclusive) and going up to 6 (exclusive). So, it generates: 1, 2, 3, 4, 5.

list(...): The list() function takes the sequence generated by range() and converts it into a list.

numbers = ...: You then assign this newly created list to the variable numbers.

In [ ]:
numbers:list[int] = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

my_foods[:]: This part is key! It creates a slice of the entire my_foods list. Using [:] ensures that you're copying all the elements from the beginning to the end of the list.

Separate Lists: By assigning this slice to friend_foods, you're creating a new, independent list. This means any changes you make to friend_foods won't affect my_foods, and vice versa.

In [ ]:
my_foods:list[str] = ['pizza', 'falafel', 'carrot cake']
friend_foods:list[str] = my_foods[:]

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

By using friend_foods = my_foods[:], you ensured that changes to one list wouldn't affect the other.

As you can see:

my_foods now includes 'cannoli' but not 'ice cream'.
friend_foods includes 'ice cream' but not 'cannoli'.
This concept of creating independent copies of lists is crucial when you want to modify one list without altering the original.

 That's a very insightful observation about a common pitfall in Python.

When you assign friend_foods = my_foods without using slicing ([:]), you are not creating a copy of the list. Instead, you are making friend_foods and my_foods refer to the same list in the computer's memory.

So, any changes made through either friend_foods or my_foods will affect the same underlying list.
Key Takeaway: To create a true copy of a list, always use slicing ([:]) during assignment. This ensures that you have two independent lists that can be modified separately.

In [ ]:
my_foods:list[str] = ['pizza', 'falafel', 'carrot cake']

# This doesn't work:
friend_foods = my_foods

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli', 'ice cream']